source https://api.nuget.org/v3/index.json
framework: netcoreapp2.2

nuget FSharp.Core 4.6.2
nuget FSharp.Data.GraphQL.Server 0.0.18-beta
nuget Microsoft.AspNetCore.Http
nuget Microsoft.AspNetCore.WebSockets
nuget Newtonsoft.Json
nuget Expecto
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.AspNetCore.App 2.2.4
nuget Giraffe 3.6.0
nuget System.Reactive 4.1.5
nuget System.Reactive.Linq
nuget System.Reactive.Interfaces

group Build
    source https://api.nuget.org/v3/index.json

    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.DotNet.Paket
